{% extends 'base.html.twig' %}

{% block body %}
    <div class="card border-secondary">
        <div class="card-header">
            <div class="row">
                <div class="col">Categories list</div>
                <div class="col text-right">
                    <a href="{{ path('category_add') }}" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle"></i> New category</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-dark table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>Enabled</th>
                    <th>Articles</th>
                    <th>Created at</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% for c in categories %}
                    <tr>
                        <td>{{ c.id }}</td>
                        <td>{{ c.name }}</td>
                        <td>
                            {% if c.enabled %}
                                <span class="btn btn-sm btn-success">
                            <i class="fas fa-check-circle"></i>
                        </span>
                            {% else %}
                                <span class="btn btn-sm btn-secondary">
                            <i class="far fa-check-circle"></i>
                                </span>
                            {% endif %}
                        </td>
                        <td><span class="badge badge-light">{{ c.articles|length }}</span></td>
                        <td>{{ c.createdAt|date('d/m/Y H:i') }}</td>
                        <td>
                            <a href="{{ path('category_edit',{'id': c.id}) }}" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{{ path('category_delete',{'id': c.id}) }}" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(categories) }}
            </div>
        </div>
    </div>
{% endblock %}
