{% extends 'base.html.twig' %}
{% block body %}
    <div class="card border-secondary">
        <div class="card-header">
            New article
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.category) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}